 <div class="footer py-5 cp60 bg-white" data-section="footer">
    <div class="container mx-auto px-4 pb-3">
      <div class="flex flex-col md:flex-row">
        <div class="md:w-2/3">
          <div class="grid grid-cols-2 md:grid-cols-4">
            <!-- First Column -->
            <div class="col-span-1">
              <p class="footer-heading mb-4 font-bold uppercase"><b>NAVRÁČKA</b></p>
              <ul class="footer-list space-y-4">
                <li><a href="#" class="text-sm-light">Čerpadla</a></li>
                <li><a href="#" class="text-sm-light">Príslušenstvo</a></li>
                <li><a href="#" class="text-sm-light">Zmekčovač vody</a></li>
                <li><a href="#" class="text-sm-light">Kúpelne</a></li>
                <li><a href="#" class="text-sm-light">Priemysel</a></li>
                <li><a href="#" class="text-sm-light">Sprostredkovanie</a></li>
              </ul>
            </div>

            <!-- Second Column -->
            <div class="col-span-1">
              <p class="footer-heading mb-4 font-bold uppercase"><b>Zákaznícka zóna</b></p>
              <ul class="footer-list space-y-4">
                <li><a href="#" class="text-sm-light">Záruka</a></li>
                <li><a href="#" class="text-sm-light">Montáž</a></li>
                <li><a href="#" class="text-sm-light">Reklamácia</a></li>
                <li><a href="#" class="text-sm-light">Kúpelne</a></li>
                <li><a href="#" class="text-sm-light">Na stiahnutie</a></li>
              </ul>
            </div>

            <!-- Third Column -->
            <div class="col-span-1">
              <p class="footer-heading mb-4 font-bold uppercase"><b>Legal</b></p>
              <ul class="footer-list space-y-4">
                <li><a href="#" class="text-sm-light">Obchodné podmienky</a></li>
                <li><a href="#" class="text-sm-light">Ochrana osobných údajov</a></li>
                <li><a href="#" class="text-sm-light">Reklamačný poriadok</a></li>
                <li><a href="#" class="text-sm-light">Doručenie a platba</a></li>
              </ul>
            </div>

            <!-- Fourth Column -->
            <div class="col-span-1">
              <p class="footer-heading mb-4 font-bold uppercase"><b>Kontakt</b></p>
              <ul class="footer-list space-y-4">
                <li><a href="#" class="text-sm-light">Bioteco s.r.o.</a></li>
                <li><a href="#" class="text-sm-light">+421 900 000 000</a></li>
                <li><a href="#" class="text-sm-light">info@bioteco.sk</a></li>
              </ul>
            </div>
          </div>
          <img src="./src/images/payment-logo.svg" class="mt-8" alt="Payment Methods" />
        </div>
        <div class="md:w-1/3 flex flex-col justify-between mt-8 md:mt-0">
          <!-- Logo at top -->
          <div class="footer-logo text-right">
            <img src="./src/images/logo.png" class="h-10 ml-auto" alt="logo">
          </div>

          <!-- Social icons at bottom -->
          <div class="socials">
            <ul class="flex justify-end space-x-3">
              <li><a href="#"><img src="./src/images/instagram.svg" class="social-icon h-6 w-6" alt="instagram"></a>
              </li>
              <li><a href="#"><img src="./src/images/tiktok.svg" class="social-icon h-6 w-6" alt="tiktok"></a></li>
              <li><a href="#"><img src="./src/images/facebook.svg" class="social-icon h-6 w-6" alt="facebook"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid px-0">
      <hr class="border-t border-gray-200">
    </div>
    <div class="container mx-auto px-4">
      <div class="mt-4 flex flex-col md:flex-row justify-between items-center">
        <!-- Left text -->
        <p class="copyright-text text-sm-light mb-4 md:mb-0">
          © 2025 | Bioteco s.r.o. | All Rights Reserved. | Enviromentálne technológie
        </p>

        <!-- Right dropdown -->
        <div class="country-dropdown">
          <div class="relative">
            <button class="flex items-center text-sm" type="button" id="countryDropdown">
              <img src="./src/images/flag.svg" alt="Slovakia" width="20" class="me-1">
              <span>Slovensko</span>
              <img src="./src/images/dropdown.svg" alt="dropdown" width="12" class="ms-1 dropdown-arrow">
            </button>
            <ul class="absolute hidden right-0 mt-2 w-32 bg-white shadow-md rounded-md z-10">
              <li><a class="block px-4 py-2 text-sm hover:bg-gray-100 flex items-center" href="#">
                  <img src="./src/images/czech-flag.png" alt="Czech" width="20" class="me-2">
                  CZ
                </a></li>
              <li><a class="block px-4 py-2 text-sm hover:bg-gray-100 flex items-center" href="#">
                  <img src="./src/images/poland-flag.png" alt="Poland" width="20" class="me-2">
                  PL
                </a></li>
              <li><a class="block px-4 py-2 text-sm hover:bg-gray-100 flex items-center" href="#">
                  <img src="./src/images/hungary-flag.png" alt="Hungary" width="20" class="me-2">
                  HU
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>